header {
    @include center;
    flex-direction: column;
    color: white;
    height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("dist/img/churros.jpg");
    background-size: 325%;
    background-position: 80% 0%;
    background-repeat: no-repeat;
    text-align: center;

    h2 {
        margin-top: 10px;
        font-size: 1.1rem;
    }

    .start__button {
        position: absolute;
        bottom: 90px;
        font-size: 1.2rem;
        padding: 12px 30px;
        border-radius: 16px;
        background-color: $primary-color;
        border: 2px solid black;
    }
}

@media (orientation: landscape) {
    header {
        padding-bottom: 28px;
        padding-left: 50px;
        background-size: cover;
        background-position: 50% 60%;
        align-items: flex-start;


        .start__button {
            bottom: 25px;
        }
    }
}

@media (min-width: $breakpoint-ipxh) and (orientation: landscape) {
    header {
        background-size: cover;

        .start__button {
            bottom: 35px;
        }
    }
}



@media (min-width: $breakpoint-1024) {
    header {


        .start__button {
            bottom: 195px;
            margin-left: 110px;
        }
    }
}